/* Google fonts- Import */
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


/* Wildcard selector * to override default styles */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /*so the total size (width and height) includes padding and border*/
    border: solid red 0.2px;
    color: rgb(226, 216, 188);
}

/* BODY */
body {
    /*background-color: rgb(51, 0, 255);*/
    font-family: 'Arsenal', sans-serif;
    /* Will fill up 100% of the viewport height*/
    min-height: 100vh;
    /* Flex container */
    display: flex;
    /* Body childs to show on top of each other and not in one row */
    flex-direction: column;
}

/* HEADER */
header {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fbfaf1f8;
    margin: auto;
}

header a {
    /* remove underline from all header links*/
    text-decoration: none;
}

/* Logo */
#logo {
    font-size: 30px;
    margin: 10px 20px;
    letter-spacing: -1.7px;
}

/* Toggle */

/* Hide checkbox */
#toggle {
    display: none;
}

/* Toggle lable */
.toggle-label i {
    font-size: 45px;
    margin-right: 10px;
}

/* Navbar */
nav {
    /* Hide the navbar */
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    top: 100%;
}

/* Navbar toggle*/
#toggle:checked~nav {
    display: block;
}

/* Style Navbar */
#nav-links {
    margin: 0 20px 0 20px;
    line-height: 1.5;
    padding: 0 60px;
    list-style-type: none;
}

#nav-links>li {
    text-align: center;
    letter-spacing: -1px;
    font-size: 20px;
    background-image: url(../images/logo\ header\ laxus\ -\ Kopie.jpg);
    /*youtube https://www.youtube.com/watch?v=M5audtofhIo */
    background-repeat: no-repeat;
    background-size: 1.5rem;
}

.active:hover {
    text-decoration: underline;
}

/* MAIN */

main {
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    /* push footer down: */
    flex: 1 0 auto;
}

/* Hero section */
#hero {
    width: 100%;
    height: 420px;
    position: relative;
    background-image: url("/assets/images/Gabriela-COSB-colloquium-2021-11-30-Kopie.webp");
    background-color: black;
    background-repeat: no-repeat;
    background-position: 86% 16%;
    /* scale relative to browser size */
    background-size: 44vh;

}

#hero h2 {
    top: 210px;
    padding-left: 20px;
    text-align: left;
    font-size: 48px;
    position: absolute;
}

/* Love story section */
#love-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 216, 188);
    color: black;
}

#love-story h3 {
    color: black;
    font-size: 25px;
    margin: 30px 30px;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#love-story p {
    color: black;
    font-size: 125x;
    text-align: center;
    margin: 0px 20px 20px;
    margin-bottom: 10px;
}

#love-story video {
    width: 270px;
    margin: 0px 20px 20px;
    margin-bottom: 10px;
}

/* Extraordinary section */

#extraordinary {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/Der\ Wurm\ mit\ dem\ bakterienpelz.webp") no-repeat center center/cover;
}

#extraordinary h3 {
    color: rgb(226, 216, 188);
    font-size: 25px;
    text-align: center;
    margin: 30px 30px;
}

#extraordinary img {
    width: 270px;
    height: 270px;
    margin-left: 20px;
    border-radius: 100%;
    border: solid black 2px;
}

#extraordinary p {
    width: 250px;
    color: black;
    font-size: 18px;
    text-align: justify;
    margin: 3px 30px 30px 30px;
    border: solid black 2px;
    background-color: rgba(222, 221, 218, 0.55);
}

/* FOOTER */
footer {
    background-color: black;
}

#social-links {
    display: flex;
    font-size: 110%;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}

#social-links li {
    list-style-type: none;
    margin-left: 15px;
}

/* MEDIA QUERIES */

/* Tablets and Up */
@media screen and (min-width:768px) {

    /* Increase Logo size */
    #logo {
        font-size: 35px;
        margin-top: 15px;
    }

    /* Hide Toggle Label */
    .toggle-label {
        display: none;
    }

    /* Put Navbar inside header */
    nav {
        position: relative;
        display: block;
        width: fit-content;
        padding-top: 10px;
    }

    /* Style Navbar */
    #nav-links {
        display: flex;
        margin: 10px 20px 10px;
        padding: 0px;
    }

    #nav-links>li {
        font-size: 18px;
        text-transform: uppercase;
        background-image: none;
        padding-left: 10px;
    }

    /* MAIN */

    /* Hero section */
    #hero {
        background-position: 105% 60%;
        background-size: 82vh;
    }

    #hero h2 {
        top: 140px;
        padding-left: 40px;
        text-align: left;
        font-size: 63px;
        position: absolute;
    }

        /* Love story section */

        #love-story {
            padding-bottom:30px;
        }
        #love-story h3 {
            font-size: 30px;
        }
    
        .story {
            display: flex;
            flex-direction: row;
            align-items: center;
            width:600px;
        }

        #love-story p {
            font-size: 18px;
            text-align: justify;
            margin:0px;
        }


}