/* Google fonts- Import */
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


/* Wildcard selector * to override default styles */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /*so the total size (width and height) includes padding and border*/
    border: solid red 1px;
    color: black;
}


/* Body */
body {
    background-color: coral;
    font-family: 'Arsenal', sans-serif;
    /* Will fill up 100% of the viewport height*/
    min-height: 100vh;
    /* Flex container */
    display: flex;
    /* Body childs to show on top of each other and not in one row */
    flex-direction: column;
}

/* Header */
header {
    background-color: coral;
    padding: 0 3px;
    position: fixed;
    z-index: 99;
    width: 100%;
    
}

header a {
    /* remove underline from all header links*/
    text-decoration: none;
}

/* Logo */
header h1 {
    background-color: blueviolet;
    font-size: 140%;
    /*narrow the space between letters*/
    letter-spacing: -1px;
}

/* Navigation links */
nav {
    /*visibility: collapse;*/
    /* remove bullet points*/
    list-style-type: none;
    font-size: 100%;
    /* separate the nav from the other header content*/
    position:absolute;
    /* hide the nav  links*/
    display:none;
}

/* Main */
main {
    background-color: aquamarine;
    /* Push footer down to the bottom */
    flex: 1 0 auto;
    /*
    display: flex;
    flex-direction: column;*/
}

/* Footer */
footer {
    background-color: chocolate;
}